<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-boarded table-striped">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Company Name</th>
                                    <th>Person Name</th>
                                    <th>Contact No</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of clientList; track $index) {
                                    <tr>
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ item.companyName }}</td>
                                        <td>{{ item.contactPersonName }}</td>
                                        <td>{{ item.contactNo }}</td>
                                        <td>{{ item.city }}</td>
                                        <td class="pt-2">
                                            <button class="btn btn-success pr-2" (click)="onEdit(item)"> Edit</button>
                                            <button class="btn btn-danger" (click)="onDelete(item.clientId)">Delete</button>
                                        </td>
                                    </tr>
                                }                              
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <div class="row">
                    <form action="">
                        
                    </form>
                    <div class="col-6">
                        <label for="">Person Name</label>
                        <input type="text" #personName="ngModel" required minlength="5" [(ngModel)]="clientObj.contactPersonName" class="form-control" >
                        <div class="text-danger">
                            @if(personName.invalid && personName.touched){
                                <span>This is required</span>
                            }  
                            @if (personName?.errors?.['minlength']){
                                <span>Min % chars required </span>
                            }                              
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="">Company Name</label>
                        <input type="text" [(ngModel)]="clientObj.companyName" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Contact Number</label>
                        <input type="text" [(ngModel)]="clientObj.contactNo" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">City</label>
                        <input type="text" [(ngModel)]="clientObj.city" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Pincode</label>
                        <input type="text" [(ngModel)]="clientObj.pincode" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">State</label>
                        <input type="text" [(ngModel)]="clientObj.state" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Address</label>
                        <textarea name="" id="" [(ngModel)]="clientObj.address" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Employee Strength</label>
                        <input type="text" [(ngModel)]="clientObj.employeeStrength" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">GstNo</label>
                        <input type="text" [(ngModel)]="clientObj.gstNo" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">RegNo</label>
                        <input type="text" [(ngModel)]="clientObj.regNo" class="form-control" >
                    </div>                    
                </div>
                <div class="row pt-2 text-center">
                    <div class="col-6">
                        <button class="btn btn-secondary">Reset Client</button>
                     </div>
                     <div class="col-6">
                        <button class="btn btn-success" (click)="onSaveClient()">
                            {{clientObj.clientId != 0 ? 'Update client' : 'Save client'}}
                            </button>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>